<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styles/cat.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cuprum|Rozha+One&display=swap" rel="stylesheet">
    <script src="../scripts/cat.js"></script>
    <title>Meowoscope</title>
  </head>
  <body>
    <h1>Phillipe's Advice</h1>
    <img id="cat_img" src="../media/wizardCat.png" alt="wizard cat">
    <audio src="../media/cat-sound/meow.mp3" id="meow_sound" type="audio/mpeg"></audio>
    <div id="text"><p>Click Me!</p></div>
    <p id="text">Enter advice or horoscope here!</p>
    <button id="profile-button" alt="">Back to Profile</button>
  </body>
</html>
