<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Gaegu|Cuprum|Rozha+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/horoscope.css">
    <title>Horoscope</title>
  </head>
  <body>
    <h1> Your Daily Horoscope </h1>
    <section>
      <section class="result">
        <div id="wrap">
          <div id="circle" class="title">{{ results.description }}</div>
        </div>
      </section>
  </section>
  </body>
</html>
