<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Astrologly</title>
    <link rel="stylesheet" href="../styles/astrology.css">
    <script src="../scripts/astrology.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cousine:700|Neuton:700|Rozha+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Grenze|Playfair+Display|Vidaloka&display=swap" rel="stylesheet">
  </head>
  <body>
  <h1>Find Your Sign</h1>
    <div id="Aquarius">
    <h2>Aquarius</h2>
      <img src="../media/png/aquarius.png" alt="aquarius" onmouseover="hover(this)" onmouseout="unhover(this)">
    </div>
    <div id="Pisces">
      <h2>Pisces</h2>
      <img src="../media/png/pisces.png" alt="pisces" onmouseover="hover(this)" onmouseout="unhover(this)">
    </div>
    <div id="Aries">
      <h2>Aries</h2>
      <img src="../media/png/aries.png" alt="aries" onmouseover="hover(this)" onmouseout="unhover(this)">
    </div>
    <div id="Taurus">
      <h2>Taurus</h2>
      <img src="../media/png/taurus.png" alt="taurus" onmouseover="hover(this)" onmouseout="unhover(this)">
    </div>
    <div id="Gemini">
      <h2>Gemini</h2>
      <img src="../media/png/gemini.png" alt="gemini" onmouseover="hover(this)" onmouseout="unhover(this)">
    </div>
    <div id="Cancer">
      <h2>Cancer</h2>
      <img src="../media/png/cancer.png" alt="cancer" onmouseover="hover(this)" onmouseout="unhover(this)">
    </div>
    <div id="Leo">
      <h2>Leo</h2>
      <img src="../media/png/leo.png" alt="leo" onmouseover="hover(this)" onmouseout="unhover(this)">
    </div>
    <div id="Virgo">
      <h2>Virgo</h2>
      <img src="../media/png/virgo.png" alt="virgo" onmouseover="hover(this)" onmouseout="unhover(this)">
    </div>
    <div id="Libra">
      <h2>Libra</h2>
      <img src="../media/png/libra.png" alt="libra" onmouseover="hover(this)" onmouseout="unhover(this)">
    </div>
    <div id="Scorpio">
      <h2>Scorpio</h2>
      <img src="../media/png/scorpio.png" alt="scorpio" onmouseover="hover(this)" onmouseout="unhover(this)">
    </div>
    <div id="Saggitarius">
      <h2>Saggitarius</h2>
      <img src="../media/png/saggitarius.png" alt="saggitarius" onmouseover="hover(this)" onmouseout="unhover(this)">
    </div>
    <div id="Capricorn">
      <h2>Capricorn</h2>
      <img src="../media/png/capricorn.png" alt="capricorn" onmouseover="hover(this)" onmouseout="unhover(this)">
    </div>
 </body>
</html>
