<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Cuprum|Old+Standard+TT&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="../styles/login.css">
    <script src="../scripts/login.js"></script>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <div id="log-in-box">
      <p id="logIn"> Log In </p>
        <form>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Email">
          <label for="pword">Password</label>
          <input type="password" id="pword" name="password" placeholder="Password">
          <input type="submit" value="Enter">
        </form>
    </div>
    <div id="new-user-box">
      <p id="signUp"> Sign Up </p>
      <form>
        <label for="uname">Username</label>
        <input type="text" id="uname-new" name="username-new" placeholder="Username">
        <label for="pword">Password</label>
        <input type="password" id="pword-new" name="password-new" placeholder="Password">
        <label for="pword">Email</label>
        <input type="email" id="email-new" name="email-new" placeholder="Email">
        <input type="submit" value="Submit">
      </form>
  </div>
  </body>
</html>
