<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="../scripts/pickSign.js"></script>
    <link rel="stylesheet" href="../styles/pickSign.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cousine:700|Neuton:700|Rozha+One&display=swap" rel="stylesheet">
    <title>What's Your Sign?</title>
  </head>
  <body>
    <h1> Select Your Sign </h1>
    <form method="POST" action="/sign">
    <select name="signs">
      <option value="aquarius">Aquarius</option>
      <option value="pisces">Pisces</option>
      <option value="aries">Aries</option>
      <option value="taurus">Taurus</option>
      <option value="gemini">Gemini</option>
      <option value="cancer">Cancer</option>
      <option value="leo">Leo</option>
      <option value="virgo">Virgo</option>
      <option value="libra">Libra</option>
      <option value="scorpio">Scorpio</option>
      <option value="saggitarius">Saggitarius</option>
      <option value="capricorn">Capricorn</option>
    </select>
    <input type="submit">
  </body>
</html>
