<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cuprum|Rozha+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/profile.css">
    <title>Profile</title>
  </head>
  <body>
    <h1 id="Welcome">Welcome {{username}}!</h1>
    <section id="links">
      <button>Look at your horoscope!<img class="icon" src="../media/profile-icons/tarot.png" alt="tarot cards icons"></button>
      <button>Get your sign anime!<img class="icon" src="../media/profile-icons/computer.png" alt="tv icons"></button>
      <button>Get advice from your cat!<img class="icon" src="../media/profile-icons/lightbulb.png" alt="lightbulb icons"></button>
    </section>
    <section class="friends">
      <p id="friends-title">YOUR FRIENDS <img class="icon" src="../media/profile-icons/friendship.png" alt="friends icons"> <p>
    </section>
    <h3> Add a profile Picture </h3>
    <form method="POST" action= "" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
