<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cuprum|Rozha+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../scripts/profile.js"></script>
    <title>Profile</title>
  </head>
  <body>
    <h1 id="Welcome">Welcome {{username}}!<br> Your sign is {{sign}}!!</h1>
    <img width="400px"src="/picture/{{image}}">
    <section id="links">
      <button id="horoscope">Look at your horoscope!<img class="icon" src="../media/profile-icons/tarot.png" alt="tarot cards icons"></button>
      <button id="cat">Get advice from your cat!<img class="icon" src="../media/profile-icons/lightbulb.png" alt="lightbulb icons"></button>
      <button id="pickSign">Pick you sign!<img class="icon" src="../media/profile-icons/favorites.png" alt="tarot cards icons"></button>
      <button id="home">Go to our fancy page!<img class="icon" src="../media/profile-icons/logout.png" alt="lightbulb icons"></button>
    </section>
    <section class="friends">
      <p id="friends-title">YOUR FRIENDS <img class="icon" src="../media/profile-icons/friendship.png" alt="friends icons"> <p>
    </section>
    <h3> Add a profile Picture </h3>
    <form method="POST" action={{upload_url}} enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
