body{
  margin: 0;
  background-color: rgb( 202, 186, 253);
  height: 100vh;
  width: 100vw;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../media/catBackground.jpg"); */
}

h1{
  text-align: center;
  font-family: 'Rozha One', serif;
  text-shadow: #FFDD20 1px 1px 2px;
  color: white;
}

#cat_img{
  padding-left: 45px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#text{
  font-family: 'Cuprum', sans-serif;
  text-align: center;
  margin: auto;
  font-size: 30px;
  /* overflow: hidden;
  border-right: .15em solid blue;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite; */
}

/* The typing effect */
/* @keyframes typing {
  from { width: 0 }
  to { width: 100% }
} */

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: blue }
} */
