body {
  margin: 0;
  background-color: rgb(202, 186, 253);
  height: 100vh;
}

#profile-button{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid black;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color: black;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
}
#profile-button:hover{
  border-color: rgba(255,255,255,1);
}
