body {
  margin: 0;
  background-color: rgb(202, 186, 253);
  height: 100vh;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Rozha One', serif;
  text-shadow: #FFDD20 1px 1px 2px;
  font-size: 50px;
}

 .title {
  text-align: center;
  font-size: 30px;
  border: 2px solid white;
  width: 50%;
  height: 50%;
  padding: 20px;
  margin: auto;
  background-color: rgb(202, 186, 253);
  font-family: 'Gaegu', cursive;
}

#profile-button{
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid black;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color: black;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;

  position: absolute;
  top: 10px;
  left: 10px;
}

#profile-button:hover{
  border-color: rgba(255,255,255,1);
}

#wrap {
  margin-top: 5%;
}
